:root {
    --color-background: #F0F0F7;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842c2;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-border-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;
    --color-dark:#2b383e;
    font-size: 60%; /* controle das medidas rem */
}

html {
    height: 600px;
}

body {
    background-image: linear-gradient(to left, #d9d9d9, #333533);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

body, input, button, textarea {
    font: 500 1.6rem Poppins;
    color: var(--color-dark)
}

#container {
    background-color: #d9d9d9;
    border-radius: 5%;
    text-align: center;
    border: 4px solid #333533;
    padding: 30px;
    height: 425px;
    width: 250px;
}

#linkedin-button{
    display: inline-block; 
    border: 1px solid var(--color-dark);
    border-radius: 10%;
    padding: 5px;      
    width: 25px;
    height: 25px;
    margin-top: 6px;
    background-size: 85% 85%; /* ou 'contain' */
    background-image: url("https://cdn4.iconfinder.com/data/icons/materia-social-free/24/038_002_linkedin_social_network_android_material-256.png");
    background-position: center;
    background-repeat: no-repeat;
}

#github-button{
    display: inline-block;            
    border: 1px solid var(--color-dark);
    border-radius: 10%;
    padding: 5px;   
    width: 25px;
    height: 25px;
    margin-top: 6px;
    background-size: 100% 100%; /* ou 'contain' */
    background-image: url("https://cdn1.iconfinder.com/data/icons/picons-social/57/github-256.png");
    background-position: center;
    background-repeat: no-repeat;
}

#be-button {
    display: inline-block;            
    border: 1px solid var(--color-dark);
    border-radius: 10%;
    padding: 5px;        
    width: 25px;
    height: 25px;
    margin-top: 6px;
    background-size: 88% 88%; /* ou 'contain' */
    background-image: url("https://cdn3.iconfinder.com/data/icons/picons-social/57/77-behance-256.png");
    background-position: center;
    background-repeat: no-repeat;
}
#whatsapp-button{
    display: inline-block;            
    border: 1px solid var(--color-dark);
    border-radius: 10%;
    padding: 5px;
    width: 25px;
    height: 25px;
    margin-top: 6px;
    background-size: 78% 78%;
    background-image: url("https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Whatsapp_svg2-512.png");
    background-position: center;
    background-repeat: no-repeat;
}
#insta-button{
    display: inline-block;            
    border: 1px solid var(--color-dark);
    border-radius: 10%;
    padding: 5px;
    width: 25px;
    height: 25px;
    margin-top: 6px;
    background-size:85% 85%;
    background-image: url("https://cdn4.iconfinder.com/data/icons/picons-social/57/38-instagram-2-256.png");
    background-position: center;
    background-repeat: no-repeat;
}

#profile {
    display: inline-block;        
    width: 145px;
    height: 145px;
    border: 3px solid #333533;
    border-radius: 53%;
    background-size: 100% 100%;
    background-position: center;

}

.bottom{
    position: center; 
    color: var(--color-dark);
    text-align: center;
    margin-top: 6px;
}

.disable_underlined{
    text-decoration: none;
    color: var(--color-dark);
}

.disable_underlined:hover{
    font-weight: bolder;
}

.year {
    line-height: 0;
}

p.year {
    margin: 50px;
}

.line{
    line-height: 8px;
}
